<table id="position" class="display table-bordered table-striped">
  <thead>
    <tr>
      <th>Keyword</th>
      <th>Engine</th>
      <th>Domain</th>
      <th>Campaign</th>
      <th>Position</th>
      <th>Previous Position</th>
      <th>Url</th>
      <th>Last Updated at </th>
    </tr>
  </thead>
  <tbody>
    <% queries.each do |query| %>
      <tr>
        <td> <%= query.keyword %>  </td>
        <td> <%= query.search_engine.engine %> </td>
        <td> <%= query.campaign.domain.name %> </td>
        <td> <%= query.campaign.name %> </td>
          <% if query.query_result.present? %>
            <td> <%= query.query_result.position %> </td>
            <td> <%= query.query_result.previous_position %></td>
            <td> <%= query.query_result.url %></td>
            <td> <%= query.query_result.last_updated.strftime("%d-%b-%Y") %></td>
          <% else %>
            <td> - </td>
            <td> - </td>
            <td> - </td>
          <%end%>
        </tr>
    <%end%>
  </tbody>
</table>
