<h1>Welcome to SEOTool Keyword Position</h1>



<%= form_tag get_query_path, method: :post do  %> 
  <%= text_field_tag :keyword, params[:keyword], placeholder: "Keyword...", required: true %>
  <%= select_tag "campaign_id", options_from_collection_for_select(@campaigns, "id", "name"),  prompt: "---Select campaign---" %>
  <%= select_tag "search_engine_id", options_from_collection_for_select(@search_engines, "id","engine")  %>
  <%= submit_tag "submit"%> 
<%end%>

<%if @queries.present? %>
  <% @queries.each do |query| %>
    <%= query.keyword %> </br>
    <%= query.search_engine.engine %> </br>
    <%= query.query_result.position %> </br>
    <%= query.query_result.previous_position %> </br>
    
  <%end%>
<%end%>
