<h1>Listing SearchEngines</h1>

<table>
  <thead>
    <tr>
      <th>Engine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_engines.each do |search_engine| %>
      <tr>
        <td><%= search_engine.engine %></td>
        <td><%= link_to 'Show', search_engine %></td>
        <td><%= link_to 'Edit', edit_search_engine_path(search_engine) %></td>
        <td><%= link_to 'Destroy', search_engine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New SearchEngine', new_search_engine_path %>
