<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @keyword.domain %>
</p>

<p>
  <strong>Search engine:</strong>
  <%= @keyword.search_engine %>
</p>

<p>
  <strong>Word:</strong>
  <%= @keyword.word %>
</p>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
