<p id="notice"><%= notice %></p>

<p>
  <strong>Query:</strong>
  <%= @query_result.query %>
</p>

<p>
  <strong>Position:</strong>
  <%= @query_result.position %>
</p>

<p>
  <strong>Previous position:</strong>
  <%= @query_result.previous_position %>
</p>

<p>
  <strong>Last updated:</strong>
  <%= @query_result.last_updated %>
</p>

<%= link_to 'Edit', edit_query_result_path(@query_result) %> |
<%= link_to 'Back', query_results_path %>
