   <div class="form-group">
    <%= form_for(@query, url: get_query_path, html: {class: "form-horizontal", role: "form"}) do |f| %>
      <% if @query.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>

          <ul>
          <% @query.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <div class="form-group">

        <div class="row">
          <div class="sapan2">
            <%= f.label :keyword, class: "col-sm-2 control-label" %>
          </div>
          
          <div class="span10">
          <%= f.text_area :keyword, class: "form-control" %>
        </div>
      </div>
      <br>

        <div class="row">
          <div class="sapan2">
            <label class="col-sm-2 control-label">Domain</label>
          </div>
          
          <div class="span10">
          <%= select_tag "domain_id", options_from_collection_for_select(@domains, "id", "name"), class: "form-control",  prompt: "---Select domain---", onchange: "prepSelect(this,'#query_campaign_id', '/get_campaigns/', 'name');" %>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="sapan2">
          <%= f.label :campaign_id, class: "control-label" %>
        </div>
        
        <div class="span10">
          <%= f.select "campaign_id", options_from_collection_for_select(@campaigns, "id", "name"), class: "form-control" %>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="sapan2">
          <%= f.label :search_engine_id, class: "control-label" %>
        </div>
        
        <div class="span10">
          <%= f.select "search_engine_id", options_from_collection_for_select(@search_engines, "id","engine"), class: "form-control" %>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="span4 offset3">
          <%= f.submit "submit", class: "btn btn-large btn-primary" %>
        </div>
      </div>
      <br>

      </div>
    <% end %>
  </div>