<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Seotool" %></title>
<%= csrf_meta_tags %> 
<%= stylesheet_link_tag "admin", :media => "all", "data-turbolinks-track" => true %> 
<%= javascript_include_tag "admin", "data-turbolinks-track" => false %>
</head>
<body>

<%= render "header" %>

<% if user_signed_in? %>
  <%= render "tabs" %>
<%end%>
<%= yield %>
<%= render "footer" %>

</body>
